
.o⋄text-noselect {
	cursor:  pointer;

	/* disable text selection, since unclean clicks/taps may select text
	 * and cause inconvenience (especially on mobile)
	 * http://stackoverflow.com/a/4407335/587407
	 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/******* lists *******/

.o⋄nav-list {
	list-style-type: none;
	padding: 0;
	margin: 0;

	/* helps if we want to do fancy positioning
	 * ex. combine with .o⋄flex--centered-content
	 */
	display: flex;
	flex-direction: row;
}
.o⋄nav-list li {
}
.o⋄nav-list a {
	text-decoration: none; /* usually what we want */
}
/* https://stackoverflow.com/a/8185290/587407 */
.o⋄nav-list li + li  {
	margin-left: 2em;
}
