
/******* Checkbox hack *******
 * https://css-tricks.com/the-checkbox-hack/
 */
/*.o⋄checkbox-hacked {
	position: absolute;
	opacity: 0.5;
	pointer-events: none;
}*/

/******* animated progress *******
 * See also the progress reset in style--reset.css
 * https://snook.ca/archives/html_and_css/animating-progress
 */
/* animated */
progress.o⋄animated::-webkit-progress-value {
	transition: width 1s;
}
progress.o⋄animated::-moz-progress-bar {
	transition: padding-bottom 1s;
	padding-left: 60px;
	padding-bottom: var(--value);
	height: 0;
	transform-origin: 0 0;
	transform: rotate(-90deg) translateX(-60px) ;
}
progress.o⋄animated::-ms-fill {
	border:0;
}
