
html {
	border-color: yellow; /* for debug, display only if debug activated */

	height: 100%;

	margin: 0;
	padding: 0;

	/* https://evilmartians.com/chronicles/scroll-to-the-future-modern-javascript-css-scrolling-implementations */
	scroll-behavior: smooth;
}

/* apply a natural box layout model to all elements, but allowing components to change
 * https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html                 { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


body {
	border-color: orange; /* for debug, display only if debug activated */

	height: 100%;

	/* adapted from http://perfectmotherfuckingwebsite.com */
	max-width: 650px;
	margin: 0 auto; /* 0 for the 100% trick to work, auto for centering */
	padding: 40px 10px;
	font-family: var(--o⋄font-family--fast_and_good_enough);
	color: var(--o⋄color--fg⁚main);
	background-color: var(--o⋄color--bg⁚main);
	line-height: 1.6;
	font-size: 18px;

	/* https://www.leejamesrobinson.com/blog/how-stripe-designs-beautiful-websites/ */
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h1, h2, h3 {
	/* http://perfectmotherfuckingwebsite.com/ */
	line-height: 1.2;
}

h1, h2, h3, p {
	/* because they are too big by default */
	margin: .7em 0;
}


/* src: ? */
img {
	image-rendering: -webkit-optimize-contrast;
}


/* TODO buttons
https://css-tricks.com/overriding-default-button-styles/
https://fvsch.com/code/styling-buttons/
 */
/* https://www.leejamesrobinson.com/blog/how-stripe-designs-beautiful-websites/ */
button {
	box-shadow: 0 3px 6px rgba(50,50,93,.1), 0 1px 2px rgba(0,0,0,.08);
}
/* questionable, TOREVIEW
button:hover {
	border-width: 2px;
	xxtransform: translateY(-1px);
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
button:active {
	xxtransform: translateY(1px);
	border-width: 2px;
}*/


/* Reset the default appearance
 * https://css-tricks.com/html5-progress-element/
 * https://snook.ca/archives/html_and_css/animating-progress
 */
:root {
	/* TODO tie this to the theme ? */
	--o⋄color__progress--bg: hsl(0, 0%, 90%);
	--o⋄color__progress-bar: hsl(221, 78%, 69%);
}
progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	background-color: var(--o⋄color__progress--bg);
	border: solid 1px var(--o⋄color--fg⁚main);
	overflow: hidden;
}
/* necessary to style the progress bar background */
progress::-webkit-progress-bar {
	background-color: var(--o⋄color__progress--bg);
}
progress::-webkit-progress-value {
	background-color: var(--o⋄color__progress-bar);
}
progress::-moz-progress-bar {
	background-color: var(--o⋄color__progress-bar);
}
progress::-ms-fill {
	background-color: var(--o⋄color__progress-bar);
	border:0;
}

/* better scrollbars
 * https://codepen.io/nikhil8krishnan/pen/WvYPvv
 */
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Adapt links to the main color.
 * Better than the defaults.
 */
a { text-decoration-color: var(--o⋄color--fg⁚secondary); }
a:link,
a:visited {color: inherit;}
a:hover,
a:active {color: red;}


/* Nicer HR
 * possible ideas: https://css-tricks.com/examples/hrs/
 */
hr {
	/* simple one */
	border: 0;
	height: 1px;
	background: var(--o⋄color--fg⁚ancillary);
}
