
body {
	padding: .7em; /* good default, cancel it explicitly if needed */

	/* adapted from https://perfectmotherfuckingwebsite.com */
	max-width: var(--o⋄content-recommended-width, 650px);
	margin: 0 auto; /* 0 for the 100% trick to work, auto for centering */
}

/*
margin: 40px auto;
padding: 0 10px;
font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
color: #444
*/
