# https://docs.npmjs.com/cli/v9/configuring-npm/npmrc

registry=https://registry.npmjs.org/
package-lock=false

init-author-email=offirmo.net@gmail.com
init-author-name=Offirmo
init-license=Unlicense
