
.omr⋄borders⁚legionfall-grey {
	border-style: solid;
	border-width: 18px 17px 18px 20px;
	-moz-border-image: url(img--border-legionfall_gray.png) 18 17 18 20 repeat;
	-webkit-border-image: url(img--border-legionfall_gray.png) 18 17 18 20 repeat;
	-o-border-image: url(img--border-legionfall_gray.png) 18 17 18 20 repeat;
	border-image: url(img--border-legionfall_gray.png) 18 17 18 20 repeat;
}


[class^="icomoon-"], [class*=" icomoon-"] {
	/* disable text selection, since unclean clicks/taps may select text
	 * and cause inconvenience (especially on mobile)
	 * http://stackoverflow.com/a/4407335/587407
	 */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
