
button {
	margin: 3px;
	border: solid 2px var(--o⋄color--fg⁚main);
	border-radius: .4em;
	padding: .5em .8em .4em;
	width: fit-content;

	color: inherit;
	box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
	background-color: rgba(0,0,0,0.42);
}
button:hover {
	transform: translateY(-1px);
}
button:active {
	transform: translateY(1px);
}
