

.tbrpg⋄bg-image⁚fields_of_gold {
	background-image: url('fieldsofgold01_by_andreasrocha.jpg');
	background-position: 62%;
}

.panel-top-content {
	padding: 5px;
	overflow-y: auto;
}



#tbrpg-group-chat {
	position: fixed;
	right: 0; /* TODO animate */
	z-index: calc(10 + var(--omr⋄ui__immersion-view--z-index));

	height: 100%;
	min-width: 400px;
	max-width: 500px;

	background-color: rgba(0, 0, 0, .3);
}

#tlkio {
	height: 100%;
	width: 100%;
}
