
:root {
	line-height: 1em;
	font-optical-sizing: auto;
	font-style: normal;
	--o⋄content-recommended-width: 1;
}
body {
	margin: 0;
	overflow: auto;
}

/* FONT BEGIN */
:root {
	font-family: "Recursive", sans-serif; letter-spacing: -0.03em;
	font-weight: 300;
	font-variation-settings:
		"slnt" 0,
		"CASL" 0,
		"CRSV" 0.5,
		"MONO" 0;
	line-height: 1.5;
}
.heading { font-weight: 400; }
.meme-line {
	xpadding-block-start: .2em;
	xpadding-block-end: .2em;
}
/* FONT END */

.meme-container {
	xborder: solid 1px grey;
}
.parent-heading {
	opacity: .7;
}
.heading {
}
.separator {
	opacity: .6;
}



.meme-line {
	margin: 0;
	padding: 0;

	text-wrap: nowrap;
	padding-inline-start: 1ch;
	xborder: solid 1px red;
}
.meme-line:has(.original-line) {
	padding-block-start:0;
}

.debug {
	font-weight: lighter;
	font-size: xx-small;
	opacity: .5;
}

a:has(img) {
	/* TODO improve with gap or something */
	margin-inline-start: .5ch;
}

.parent-heading, .heading, .separator, .description {
	display: inline-block;
	padding-inline: .25ch;
}

/*
.meme-line:nth-child(3n+1) { background: lightblue; }
.meme-line:nth-child(3n+2) { background: lightyellow; }
.meme-line:nth-child(3n+3) { background: lightgreen; }
*/

details {
	border: 0;
}
