


.o⋄fontꘌroboto {
	font-family: var(--o⋄font-family--roboto);
}

.o⋄fontꘌroboto-condensed {
	font-family: var(--o⋄font-family--roboto-condensed);
}

.o⋄fontꘌroboto-mono {
	font-family: var(--o⋄font-family--roboto-mono);
}

/* TODO https://www.awayback.com/index.php/2010/02/03/revised-font-stack/
 */
