


.o⋄fontꘌroboto {
	font-family: var(--o⋄font-family--roboto);
}

.o⋄fontꘌroboto-condensed {
	font-family: var(--o⋄font-family--roboto-condensed);
}

.o⋄fontꘌroboto-mono {
	font-family: var(--o⋄font-family--roboto-mono);
}
