
:root {
	--o⋄font-family--system--sans:   -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Segoe UI", "Helvetica Neue", Helvetica, "Ubuntu", Roboto, Noto, Arial, sans-serif;
}

body {
	padding: 0;
	margin: 0;

	font-family: var(--o⋄font-family--system--sans);
	font-size: 12px;

	max-width: 100%;

	display: flex;
	align-items: stretch;
}

body > details:first-child {
	border-inline-end: dotted 1px;
	overflow-y: scroll;
}
iframe#storypad⋄iframe {
	border: none;
	width: 100%;
	height: 100vh;
}


details > * {
	margin: 0;
}
details > ol {
	list-style-type: none;
	padding-inline-start: 0;
}


/* nicer collapsibles */
details {
	border-left: dashed 1px;
	padding-left: .65rem; /* for the content */
}
details summary {
	/* https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/ */
	cursor: pointer;

	margin-left: -1rem;
}
details summary > * {
	/* https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/ */
	display: inline;
}
details[open] {
	border-color: var(--o⋄color⁚fg--main);
}
