
[data-o-theme] {
	color: var(--o⋄color⁚fg--main);
	background-color: var(--o⋄color⁚bg--main);
	accent-color: var(--o⋄color⁚fg--accent);

	/* TODO scrollbar */
}

[data-o-theme|="dark-"] {
	font-weight: 500; /* optical adjustment for dark themes TODO use a var multiplier?? */
}
