https://css-tricks.com/how-to-create-neon-text-with-css/
https://css-tricks.com/maybe-there-kinda-is-background-opacity/
https://fdossena.com/?p=html5cool/anitxt/i.frag
https://css-tricks.com/can-css-prevent-tooltips-from-overflowing/
https://www.westciv.com/tools/textStroke/
