/******* OMR customization *******/

/* parameters we can't compute automatically */
:root {
	--omr⋄ui__logo-content--width_: 163px;
	/*--omr⋄ui__universe-anchor-content--width_: 230px*/
}

/* customizations */
.omr⋄logo {
	padding-bottom: calc(4px * var(--scale));
}
.omr⋄logo img {
	image-rendering: crisp-edges;
	/*padding-bottom: calc(4px * var(--scale));*/
}

.status⁚avatar--icon {
	align-self: center;
	font-size: 26px;
	margin-right: 4px;
}
.status⁚avatar--details {
	line-height: 14px;
}

.omr⋄plane⁚immersion .omr⋄content-area {
	max-width: 650px;
	margin: auto;
	font-size: 15px;
}


#group-chat-container {
	z-index: calc(20 + var(--omr⋄ui__immersion-view--z-index));
}
