
.storypad⋄story-area {
	height: 100vh;

	.storypad⋄story-iframe {
		width: 100%;
		height: 100%;
		border: 3px solid black;
		border-radius: 14px;
		box-sizing: border-box;
	}

	display: flex;
	flex-direction: column;
	align-items: stretch;
	.storypad⋄controlbar {

	}
	.storypad⋄storiesᝍworkspace {
		flex-grow: 9999;
		/*resize: vertical;
		overflow: scroll;*/
	}
	.storypad⋄drawer {

	}
}
